@import '../../../styles/variables';

//animacion chevron
.contenedor_animationChevron{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100px;
    @include margin__Espaciado(0em,0em);
    position: absolute;
    top: 80%;
    max-height: 50px;
}
.container_chevron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
}
.chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}
.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: $color__grey;
    box-shadow: rgba(249, 251, 252, 0.884) 3px 4px 40px
}
.chevron:before {
    left: 0;
    transform: skewY(30deg);
}
.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}