@import '../../../styles/variables';

.section_presentacion{
    width: 100%;
    height: 100vh;
    display: flex;
    @include margin__Espaciado(0,0em);
    background: none;
    font-family: $fontStyle__principal;
    .contenedor_presentacion{
        width: 100%;
        height: 100%;
        /* background-color: inherit; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        //padding: 2em;
       /*  background-position: bottom; */
/*         @include margin__Espaciado(3em,3em); */
        .containerCarouselButton{
            display: flex;
            justify-content: stretch;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-top: 5em;
        }   
        .contenedor_presentacion_h1{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            font-size: 20px;
/*             @include margin__Espaciado(2em,2em); */
            .presentacion_h1{
                color: $color__lightblue-2;
                width: 80%;
            }
        }
        .swiper {
            max-height: 100px;
            width: 100%;
            height: 100%;
        }       
        .swiper-slide {
            text-align: center;
            animation: camuflaje;
            //font-size: 18px;
            background: none;
            color: $color__lightblue-2;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            &:hover{
                cursor: grab;
            }
        }
        .swiper-slide-active{
            transition: all 1.5s ease-in-out;
            color: $color__pink;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container_btn_presentacion{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 1em;
            .btn_presentacion{
                font-family: $fontStyle__principal;
                text-decoration: none;
                width: 130px;
                height: 50px;
                border: 2px solid $color__grey;
                border-radius: 10px;
                background-color: transparent;
                color: $color__grey;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .btn_presentacion:hover{
                color: $color__lightblue-2;
                border: 2px solid $color__lightblue-2;
                transition: 1s ease;
            }
            .btn_presentacion::before{
                content: '';
                position: absolute;
                left: 0;
                top: 50px;
                background: transparent;
                height: 50%;
                width: 100%;
                transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
                filter: blur(8px);
                transition: 1s ease;
            }
            .btn_presentacion:hover::before{
                background: $color__lightblue-2;
                top: 50px;
            }
        }
    }
}